$lg: 1024;
$sm: 380;
@mixin up($media) {
  @media only screen and (min-width: #{$media}px) {
    @content;
  }
}
@mixin down($media) {
  @media only screen and (max-width: #{$media - 1}px) {
    @content;
  }
}

$mobile-offset: 2rem;
$extra-mobile-offset: 1.5rem;
