.Chart {
  padding-bottom: 5.5rem;

  &__header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #c4ccd4;
    border-bottom: 1px solid #c4ccd4;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__hint {
    margin-left: auto;
    font-size: 1rem;
    line-height: 1.5;
    color: #808c99;
    letter-spacing: -0.02em;
  }

  &__body {
    display: flex;
  }

  &__chart {
    height: 19rem;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__legends {
    padding-top: 2rem;
    padding-left: 2rem;
    flex-shrink: 0;
    width: 22.5rem;
  }

  &__legend {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  &__legend-point {
    margin-right: 0.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
  }

  &__legend-label {
    font-size: 0.9375rem;
    line-height: 1.6;
  }

  &__legend-percent {
    margin-left: auto;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.6;
  }
}
