@import "../../assets/scss/variables";
.MainPage {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 58rem;
  padding-top: 4.5rem;
  font-family: "GT America", sans-serif;
  color: #132536;
  @include down($lg) {
    padding-top: 3.625rem;
  }

  &__header {
    padding-bottom: 2.6875rem;
    @include down($lg) {
      padding-bottom: 3rem;
      padding-left: $mobile-offset;
      padding-right: $mobile-offset;
      border-bottom: 0;
    }
    @include down($sm) {
      padding-left: $extra-mobile-offset;
      padding-right: $extra-mobile-offset;
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    @include down($lg) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  &__description {
    font-size: 1.0625rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #808c99;
    @include down($lg) {
      font-size: 0.875rem;
    }
  }

  &__tabs {
    display: flex;
    border-bottom: 1px solid #c4ccd4;
  }

  &__tab {
    margin-right: 1.25rem;
    min-width: 6.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6px;
    font-weight: 800;
    color: #cccccc;
    font-size: 17px;
    line-height: 1.41;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #cccccc;
    transition: border-bottom-color 0.2s, color 0.2s;
    cursor: pointer;
    &:last-of-type {
      margin-right: 0;
    }

    &_active,
    &:hover {
      border-bottom-color: #06aeee;
      color: #06aeee;
    }
  }
}
